.prehome{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  .icon-platform{
    width: 60px;
    position: fixed;
    top: 20px;
    left: 20px;
  }

  &.bkg-image{
    background-image: linear-gradient(to bottom, rgba(0,0,0,.75) 10%, rgba(0,0,0,.4) 60%, rgba(0,0,0,.75) 100%), url("../../images/bkg-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .box-login{
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 30px;
    width: 400px;
    max-width: 100%;

    form{
      display: flex;
      flex-direction: column;

      .box-login_input{

        &--1{
          margin-bottom: 15px;
        }

        &--2{
          margin-bottom: 30px;
        }

        label{
          color: #8c8c8c;
        }

        input{
          color: white;
          background: #333;
          border-radius: 4px;
        }

        p{
          color: #e87c03;
        }

        .css-1ff8729-MuiInputBase-root-MuiFilledInput-root:after,
        .css-1ff8729-MuiInputBase-root-MuiFilledInput-root.Mui-error:before{
          border-bottom: 2px solid #e87c03;
        }
      }

      button{
        border-radius: 4px;
        font-size: 16px;
        font-weight: 500;
        margin: 24px 0 12px;
        background: #e50914;
        color: white;
      }
    }
  }

  @media (max-width: 530px) {
    .box-login{
      margin: 0 20px;
    }
  }
}