*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

//PreHome - Components
@import "./prehome/login";

//Home - Components
@import "./home/generic";

.home{
  @import "./home/header";
  @import "./home/aside";
  @import "./home/contentHome";
}