*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

$height-header: 4em;
$height-filterHeader: 4em;

//PreHome - Components
@import "./prehome/prehome";

//Home - Components
@import "./home/home";