.nav{
  background-color: #252525;
  color: black;
  padding: 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -1px;

  .nav_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;

    .icon-box{
      &.active{
        *{
          color: #e50914;
        }
      }

      &:not(:last-child){
        margin-right: 20px;
      }

      a{
        color: white;
        flex-direction: column;
        display: flex;
        align-items: center;
        text-decoration: none;

        .icon-box_img{
          margin-bottom: 2px;
          font-size: 25px;
        }

        .icon-box_span{
          font-size: 12px;
          letter-spacing: 2px;
          font-weight: 400;
        }
      }

    }
  }
}