.content{
  background-color: black;
  color: white;

  .banner-container{
    @media (min-height: 800px) {
      max-height: calc(100vh - ($height-header + $height-filterHeader));
      overflow: hidden;
    }

    .banner-content{
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;

      &_info{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
        padding: 0 20px;

        .position-info{
          position: absolute;
          top: 35%;
          transform: translateY(-50%);

          .btn-info{
            color: white;
            font-size: 16px;
            background-color: #575757;
            border: white;

            svg{
              font-size: 25px;
            }
          }
        }
      }

      iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        margin-top: -60px;
      }
    }
  }

  .container-carousel{
    position: relative;
    margin-top: -100px;
    z-index: 2;
  }
}