&.item{
  min-height: 100vh;
  background-color: #252525;

  .content{

    &_detail{
      background-size: cover !important;
      background-position: center !important;
      background-attachment: fixed !important;
      opacity: 1;
      animation: opacity 1s forwards;

      .mask{
        padding: 40px 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        backdrop-filter: brightness(0.6);

        .image-poster{
          width: 100%;
          max-width: 300px;
          opacity: 0;
          animation: opacity 1s forwards 1s;

          img{
            width: 100%;
          }
        }

        .details{
          width: 100%;
          max-width: 700px;
          padding: 10px 40px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          position: relative;
          top: 40px;
          opacity: 0;
          animation: animationText 1s forwards 1s;

          @keyframes animationText {
            0%{
              top: 40px;
              opacity: 0;
            }

            80%{
              opacity: 1;
            }

            100%{
              top: 0;
              opacity: 1;
            }
          }

          .titleItem{
            font-size: 35px;
            font-weight: 400;
            letter-spacing: 1px;
          }

          .rating{
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 10px;

            .content_stars, .content_likes{
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              color: white;
              border: 1px solid white;
              padding: 5px 10px;
              border-radius: 5px;
              font-size: 14px;

              svg{
                margin-right: 5px;
                font-size: 16px;
              }
            }

            .content_stars{
              margin-right: 20px;
            }
          }

          .descriptionItem{
            font-size: 14px;
            font-weight: 400;
            margin-top: 15px;
          }
        }
      }

      @keyframes opacity {
        0%{
          opacity: 0;
        }
        100%{
          opacity: 1;
        }
      }
    }
  }
}