.footer{
  background-color: #252525;
  padding: 20px;
  text-align: center;

  .icon-footer{
    width: 50px;
  }

  .container-copy{
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
  }
}
