.header{
  background-color: #252525;

  .header_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;

    .icon-platform{
      width: 50px;
    }

    .container-search{
      width: 100%;
      max-width: 380px;

      .input-box{
        background-color: white;
        border-radius: 32px;
        padding: 0 20px;
        max-width: 100%;
        position: relative;

        &_title{
          width: 100%;

          *{
            background-color: transparent;
          }

          label{
            color: black;
            margin-top: -3px;
            font-size: 18px;
            font-weight: 500;
          }

          input{
            padding: 22px 12px 5px;
          }

          .css-1ff8729-MuiInputBase-root-MuiFilledInput-root:after{
            border-bottom: none;
          }

        }

        &_search{
          position: absolute;
          right: 4px;
          background-color: #e50914;
          color: white;
          top: 4px;
          width: 43px;
          height: 42px;
          justify-content: center;
          align-items: center;

          &:hover{
            background-color: #cd0913;
          }
        }

      }
    }

    .container-logout{
      .btn-logout{
        &:hover{
          .btn-logout-icon{
            color: #e50914;
          }
        }

        .btn-logout-icon{
          color: white;
        }
      }
    }
  }

}