.home{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: [header-start] auto [header-end nav-start] auto [nav-end content-start] auto [content-end];

  @import "../home/header";
  @import "../home/aside";
  @import "../home/contentHome";
  @import "../home/carouselComponent";
}