.home{
  @import "../home/header";
  @import "../home/aside";
  @import "../home/contentHome";
  @import "../home/carouselComponent";
  @import "../home/searchComponent";
  @import "../home/contentItem";
  @import "../home/loadingComponent";
}