.view-search{
  padding: 35px;
  min-height: calc(100vh - $height-header);

  &_title{
    text-align: center;

    h6{
      margin-bottom: 30px;
    }
  }

  &_content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    .card{
      width: 100%;
      max-width: 250px;
      margin-right: 10px;
      height: 100%;
      overflow: hidden;
      max-height: 140px;
      margin-bottom: 10px;

      &_content{
        position: relative;

        &:hover {
          .mask {
            height: 100%;
          }
        }

        .mask {
          position: absolute;
          bottom: 0px;
          left: 0;
          right: 0;
          background-color: rgba(0, 0, 0, 0.56);
          overflow: hidden;
          width: 100%;
          height: 0;
          transition: .5s ease;
          text-align: left;
          padding: 0 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;

          .titleItem{
            color: white;
            font-size: 18px;
            font-weight: 300;
            letter-spacing: 1px;
            margin-bottom: 10px;
          }

          .dateItem{
            color: white;
            font-size: 14px;
            margin-bottom: 20px;
          }

          .rating{
            display: flex;
            flex-direction: row;
            justify-content: center;

            .content_stars, .content_likes{
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              color: white;
              border: 1px solid white;
              padding: 5px 10px;
              border-radius: 5px;
              font-size: 14px;

              svg{
                margin-right: 5px;
                font-size: 16px;
              }
            }

            .content_stars{
              margin-right: 20px;
            }
          }

        }

        img {
          width: 100%;
        }
      }
    }

  }
}

